{%extends 'base.html'%}
{%block title%}Toko Online{%endblock%}


{%block content%}
<div class="container">
    <div class="row d-flex justify-content-center">
        {%for product in products%}
        <div class="col-4">
            <div class="wrap-index border-dark rounded">
                <div class="product-image">
                    <img style="max-width: 100%;" src="{{product.image_path}}" alt="">
                </div>
                <div class="product-name">
                    {{product.name}}
                </div>
                <div class="product-price">
                    {{product.price}}
                </div>
                <div class="detail-product">
                    <a href="{%url 'onlineshop:detail' product.id%}" class="lihatdetail">Lihat Detail</a>
                </div>
            </div>
        </div>
        {%endfor%}
    </div>
</div>
<div class="add-product">
    <form class="d-flex justify-content-center" action="/input_product" method="GET">
        <button type="submit" class="btn btn-success submit-content">Submit New Content</button>
    </form>
</div>
{%endblock%}